body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #212121;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.form-element__link, .contacts__link, .menu__item a, .logo {
  text-decoration: none;
}

.work-example, .property-item, .contacts li, .menu__item {
  list-style: none;
}

.business__examples, .property, .contacts, .menu {
  margin: 0;
  padding: 0;
}

.property-item__text {
  margin: 0;
  padding: 0;
}

.work-example__title, .business__title, .property-item__title, .innermodal__title, .banner__title {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo__web {
  color: #2196f3;
}
.logo__studio {
  color: #000;
}
.logo__studio--footer {
  color: #fff;
}

.menu {
  display: flex;
}
.menu__item {
  position: relative;
  margin-right: 50px;
}
.menu__item a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item a:hover, .menu__item a:focus, .menu__item--active {
  color: #2196f3;
}
.menu__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  transform: scaleX(0);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item a:hover::after, .menu__item a:focus::after, .menu__item--active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(1);
}
.menu__item:last-child {
  margin-right: 0;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts li {
  margin-right: 50px;
}
.contacts__link {
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.main-header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}
.main-header .container {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}

.icon-small {
  position: relative;
  max-width: 16px;
  max-height: 16px;
  margin-right: 7px;
  vertical-align: text-top;
  fill: currentColor;
}

.banner {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_background.jpg");
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 200px 0px;
  max-width: 1600px;
  background-repeat: no-repeat;
  margin: auto;
}
.banner__title {
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
main section:not(.banner) {
  padding-bottom: 94px;
}

.button {
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  font-weight: 700;
  color: white;
  border: none;
  width: 216px;
  height: 50px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}
.button--footer {
  width: 200px;
  padding: 10px 28px;
  display: inline-flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transform: scale(1);
  transition: var(--transform-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: var(--transform-transition);
}

.modal-close {
  background: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal-close:hover {
  color: var(--brand-color);
}

.innermodal {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.innermodal__title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form-element:nth-last-child(3) {
  margin-bottom: 20px;
}
.form-element:nth-last-child(2) {
  margin-bottom: 30px;
}
.form-element__label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-element__input {
  padding: 11px 12px 11px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element__input:focus {
  border-color: #2196f3;
}
.form-element__input--message {
  padding: 12px 16px;
  resize: none;
}
.form-element__input--message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-element__input--message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-element__input--message::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-element__input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 12px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element__input:focus + .form-element__input-icon {
  color: #2196f3;
}
.form-element__checkbox-hidden-label {
  position: relative;
  display: block;
}
.form-element__link {
  color: #2196f3;
}
.form-element__checkbox-hidden-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.form-element__checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 12px;
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element__checkbox-hidden-input:checked + .form-element__checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.properties {
  padding-top: 94px;
}

.property {
  display: flex;
  justify-content: space-between;
}

.property-item {
  flex-basis: calc((100% - 90px) / 4);
}
.property-item__icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.property-item__icon svg {
  width: 70px;
  height: 70px;
}
.property-item__title {
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}
.property-item__text {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

.business__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.business__examples {
  display: flex;
  justify-content: space-between;
}

.work-example {
  position: relative;
  display: flex;
  justify-content: center;
}
.work-example__image {
  flex-basis: 370px;
}
.work-example__title {
  position: absolute;
  left: 50%;
  bottom: 27px;
  transform: translate(-50%);
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.work-example::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}/*# sourceMappingURL=main.css.map */