/* * {
  margin: 0;
  padding: 0;
} */
/* GLOBAL CSS RESET*/
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #212121;
}

:root {
  --brand-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --background-color: #2f303a;
  --background-color-white: #f5f4fa;
  --icon-gray-color: #afb1b8;
  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__web {
  color: var(--brand-color);
}
.logo__studio {
  color: black;
}
.logo__studio--footer {
  color: white;
}

/*menu */
.menu {
  display: flex;
}
.menu__item a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--black-color);
  transition: var(--color-transition);
}
.menu__item a:hover,
.menu__item a:focus,
.menu__item--active {
  color: var(--brand-color);
}

.menu__item {
  position: relative;
  margin-right: 50px;
}
.menu__item a::after {
  content: '';
  position: absolute;
  left:0;
  bottom:-27px;
  transform: scaleX(0);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: var(--transform-transition);
}

.menu__item a:hover::after,
.menu__item a:focus::after,
 .menu__item--active a::after {
  content: '';
  position: absolute;
  left:0;
  bottom:-27px;
  background-color: var(--brand-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(1);
}
.menu__item:last-child {
  margin-right: 0;
}

/* header links */
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: var(--color-transition);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts li {
  margin-right: 50px;
}
.icon-small {
  position: relative;
  max-width: 16px;
  max-height: 16px;
  margin-right: 7px;
  vertical-align: text-top;
  fill: currentColor;
}
/* banner */
main section:not(.banner) {
  padding-bottom: 94px;
}
.business h2,
.team h2,
.regular-clients h2 {
  text-align: center;
}
.banner {
  background-color: var(--background-color);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
    url("../images/header_background.jpg");
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 200px 0px;
  max-width: 1600px;
  background-repeat: no-repeat;
  margin: auto;
}
.banner__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

/* button */
.button {
  border-radius: 4px;
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  color: white;
  letter-spacing: 0.06em;
  border: none;
  width: 216px;
  height: 50px;
  cursor: pointer;
  transition: var(--background-transition),var(--shadow-transition);
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}
.button--footer {
  width:200px;
  padding: 10px 28px;
  display: inline-flex;
  justify-content: center;
}

/* footer */
/* ??? */
.footer-column .logo {
  display: inline-block;
  margin-bottom: 20px;
}
/* ???? */
address {
  font-style: normal;
}
/*footer.scss*/ 
address {
  color: white;
}
/*footer.scss*/ 
address p {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: white;
}
footer {
  background-color: var(--background-color);
}

.contacts--footer {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}
.contacts--footer li:first-child {
  margin-bottom: 9px;
}
.footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
  padding: 60px 0;
}
.footer-social h3, .footer-form h3 {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* H tags*/





/* filter-buttons */
.filter-button {
  padding: 6px 22px;
  background-color: var(--background-color-white);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  transition: var(--background-transition), var(--color-transition),var(--shadow-transition);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--brand-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* filters */ /* PortFolio page */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}



/* projects */
.project img {
  display: block;
}
.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.project h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.project-descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.proj-desc {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.project {
  background: white;
  width: calc((100% - 60px) / 3);
  transition: var(--shadow-transition),var(--transform-transition);
}
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* project overlays */
.img-overlay {
  position: relative;
  overflow: hidden;
}
.project:hover .moved {
  transform: translateY(0);
}
.moved {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(24/18);
  letter-spacing: 0.03em;
  color: white;
}

/* property items */
.property-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 10px;
}
.property-item p {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.folio {
  padding-top: 94px;
}
.properties {
  padding-top: 94px;
}

.property {
  display: flex;
  justify-content: space-between;
}
.property-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.info {
  margin-top: 30px;
}
.info .name {
  margin-bottom: 10px;
}
.card {
  padding-bottom: 30px;
}

/* business section */
.business h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 50px;
}
.examples {
  display: flex;
  justify-content: space-between;
}
.examples img {
  flex-basis: 370px;
}
.members {
  display: flex;
  justify-content: space-between;
}
.work-example {
  position: relative;
  display: flex;
  justify-content: center;
}
.work-title {
  position: absolute;
  left:50%;
  bottom:27px;
  transform: translate(-50%);
}
.work-example::before{
  content: '';
  position: absolute;
  width: 100%;
  bottom:0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}
.business h3 {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
/*our team */

.team {
  background-color: var(--background-color-white);
  padding-top: 94px;
}

.team h2,
.regular-clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 50px;
}
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.team .position {
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.info .position {
  margin-bottom: 16px;
}
.card {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.info {
  text-align: center;
}
/* header */
.main-header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.main-header .container {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}


.hidden-title {
  justify-content: center;
}

/* svg styling */


.property-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.property-icon svg {
  width: 70px;
  height: 70px;
}

.member-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member-social a {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-gray-color);
  border-radius: 50%;
  transition: var(--background-transition), var(--fill-transition);
}

.member-social svg {
  width: 20px;
  height: 20px;
}
.member-social a:hover, 
.member-social a:focus {
  background-color: var(--brand-color);
  border-radius: 50%;
  fill: white;
}

.client-block {
  display: flex;
  justify-content: space-between;
}
.client-block a {
 /* width: 170px;
  height: 92px; */
  padding: 23px 42px;
  border: 1px solid var(--icon-gray-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--color-transition), var(--border-transition);
}
.customer-icon:hover {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}
.customer-icon {
  color: var(--icon-gray-color);
}
.customer-icon svg {
  height: 52px;
  width: 94px;
  fill: currentColor;
}
.customer-icon:hover,
.customer-icon:focus {
  color: var(--brand-color);
}
.regular-clients {
  padding-top: 94px;
}
.footer-social .member-social {
  gap: 10px;
}
.footer-social .member-social a {
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--background-transition);
}
.footer-social .member-social a:hover,
.footer-social .member-social a:focus {
  background-color: var(--brand-color);
  border-radius: 50%;
}
/* modal css */
.backdrop {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transform: scale(1);
  transition: var(--transform-transition);
}
.backdrop.is-hidden {
  opacity: 0;
   pointer-events: none;
   transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: var(--transform-transition);
}
.modal-close {
  background: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  position: absolute;
  right:8px;
  top:8px;
  cursor: pointer;
}

.close {
  width:11px;
  height: 11px;
  fill:currentColor;
}
.modal-close:hover {
  color: var(--brand-color);
}

/* footer form styling */

.footer-form input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: var(--background-color);
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color:var(--grey-color);
  outline: none;
  transition: var(--border-transition);
}
.footer-form input:focus {
  border-color: var(--brand-color);
}

.subscribe-icon {
  width:24px;
  height:24px;
}
.icon-text {
  margin-right: 10px;
}
.subscription {
  display: flex;
}

/*modal form content */
.innermodal {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color:var(--grey-color);
}
.form-input {
  display: block;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.input-field {
  padding: 11px 12px 11px 42px;
  outline: none;
  border:1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--border-transition);
}
.form-element .message {
 padding: 12px 16px;
}
.input-field:focus {
  border-color: var(--brand-color);
}
.message {
  resize: none;
}
.message::placeholder {
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-icon {
  width:18px;
  height: 18px;
  position: absolute;
  top:30px;
  left:12px;
  fill:currentColor;
  transition: var(--color-transition);
}
.input-field:focus + .input-icon {
  color:var(--brand-color);
}
.text-input {
  margin-bottom: 20px;
}
.form-element:nth-last-child(2) {
  margin-bottom: 30px;
}
.form-checkbox {
  position: relative;
  display: block;
}
.form-checkbox a {
  color:var(--brand-color);
}
.checkbox-hidden {
  appearance: none;
  position:absolute;
}
.checkbox-icon {
  width:16px;
  height:15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  position:absolute;
  top:0;
  left:12px;
  fill:currentColor;
  transition: var(--border-transition), var(--background-transition);
}
.checkbox-hidden:checked + .checkbox-icon {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}